/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
* {
  box-sizing: border-box;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 1%;
  font-size: 100%;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header {
  margin: auto;
  width: 98%;
  background-color: #f1f1f1;
  padding: 1%;
  text-align: center;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1%;
  margin: 1%;
  min-height: 70vh;
  border-radius: 1%;
  background: #f9f9f9;
}

/* Left and right column */
.column.side {
  width: 24%;
}

/* Middle column */
.column.middle {
  width: 46%;
}
.hero-section {
  text-align: center;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Style the footer */
.footer {
  margin: auto;
  width: 98%;
  color: #369;
  background-color: #f1f1f1;
  padding: 1%;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
